<!DOCTYPE html>
<html ng-app="">
<head>	
<title>AngularJS Script</title>	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
</head>

<form action="#" method="GET"></form>

<body>
<div>
    <input type="text" placeholder="Enter Firstname" ng-model="firstname">
    <!-- <h1>{{firstname}}</h1> -->
    <span ng-bind="firstname"></span><hr/>
    <input type="text" placeholder="Enter Lastname" ng-model="lastname">
    <!-- <h1>{{lastname}}</h1> -->
    <span ng-bind="lastname"></span>
    
</div><hr/>
<style>
    .blue{
        background: blue;
        padding: 10px;
        border: 10px solid red
        }
        .green{
        background: green;
        padding: 10px;
        border: 10px solid red
        }
    </style>

<div>
    <input type="text" placeholder="Name" ng-model="color">
    <div ng-class="color">Getting Strated With AngularJS</div><hr/>
</div>

<div>
    <p>Textarea Example:</p>
    <textarea cols="30" rows="10" ng-model="Hide_or_show">Show</textarea>
    <h1>{{Hide_or_show}}</h1>
</div><hr/>

<div>
    <input type="checkbox" ng-model="Hide_Show"/>Show
    <div ng-show="Hide_Show">Welcome to the World of AngularJS</div>
    
</div><hr/>
<div>
        <input type="checkbox" ng-model="selected"/>
    <select>
        <option>Sachin</option>
        <option>Dhoni</option>
        <option ng-selected="selected">Virat</option>
        <option>Dravid</option>
    </select>
</div>
<div ng-init="people=['Shashi','Manu','Ramu','Raveesh']"></div>
<!-- <h1>{{people[0]}}</h1> -->
<!-- <h1>{{people[1]}}</h1> -->
<!-- <h1>{{people[2]}}</h1> -->
<!-- <h1>{{people[3]}}</h1> -->
<div ng-repeat="x in people">
    <h2>{{x}}</h2>
</div>
<ul>
    <li ng-repeat="c in people">
    <h2>{{c}}</h2>
</li>
</ul>

</body>
</html>

